*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: black;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 8%;
  display: flex;
  align-items: center;
  justify-content: right;
  
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-left: 130px;
}

.login{
  background-color: rgb(61, 87, 203);
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  color: #ffff;
  font-size: 16px;
  padding: 14px 70px;
  border-radius: 10px;

}

main{
  text-align: center;
}
main h1{
  text-transform: uppercase;
  font-size: 70px;
  color: #fff;
  font-weight: 800;
  animation: fadeIn 3s;
}

main h1 span{
  color: rgb(95, 95, 207);

}
main p{
  margin-top: 20px;
  animation: fadeIn 5s;
  color: white;
}
main p + p{

  margin-top: 20px;
}
main a{
  text-decoration: none;
  display: inline-block;
  color: #ffff;
  font-size: 24px;
  border: 2.1px solid rgb(95, 95, 207);
  padding: 14px 70px;
  border-radius: 10px;
  margin-top: 60px;
  animation: fadeIn 4s;
}

main a:hover{
  transition: 1.5s;
  font-size: 30px;
 
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: opacity(100%);
  filter: blur(0px);
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}
  @media (max-aspect-ratio: 16/9){
    .back-video{
      width: auto;
      height: 100%;
    }  
}

nav ul li a.login:hover{
  background-color: rgb(75, 75, 196);
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


